{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
    <a href="/messages/add" class="btn btn-secondary">Написать сообщение</a>
{% endif %}
<a href="/" class="btn btn-secondary">Обратно в меню</a>
<div class="border border-dark">
    <h1>Входящие сообщения</h1>
    {% for message in messages1 %}
    <div class="border border-primary">
        <h1>{{ message.note_id }}</h1>
        <h2>{{ message.message_text }}</h2><br>
        {% if message.is_anonymous == 1 %}
        <p>Анонимное сообщение, Дата написания - {{ message.created_at }}</p>
        {% else %}
        <p>Айди отправителя - {{ message.sender_id }}, Дата написания - {{ message.created_at }}</p>
        {% endif %}
        {% if current_user.is_authenticated %}
    <div>
        <a href="/messages/del/{{ message.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
        {% endif %}
    </div>
    {% endfor %}
    <h1>Исходящие сообщения</h1>
    {% for message in messages2 %}
    <div class="border border-primary">
        <h1>{{ message.note_id }}</h1>
        <h2>{{ message.message_text }}</h2><br>
        <p>Айди получателя - {{ message.recipient_id }}, Дата написания - {{ message.created_at }}</p>
        {% if current_user.is_authenticated and current_user.id == message.sender_id %}
    <div>
        <a href="/messages/{{ message.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/messages/del/{{ message.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
